<!-- import event_system from event_system.xml -->
<!-- import event_a from event_a.xml -->
<module name="app" export="script:main">
  <script name="main">
    <code>event_a.register_by_map();</code>
    <code>let first = event_system.notify();</code>
    <code>event_a.register_direct();</code>
    <code>let second = event_system.notify();</code>
    <text>${first}-${second}</text>
    <end/>
  </script>
</module>
